<center>
<h1>Burgers</h1>


<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<button type="submit" id="devour">Devour It</button>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="newburger" name="devoured">
  </div>
  <br>

 
  <button type="submit">Submit</button>
</form> 
</center>