<li>
    {{burger_name}}

   <button class=“change-devoured” data-id=“{{id}}” data-newdevoured=“{{devoured}}“>
        {{#if devoured}}Burger complete!{{else}}TIME TO EAT UP!{{/if}}
    </button>

</li>